# Virtual environments
venv/
env/
ENV/
.venv/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
db.sqlite3
*.sqlite3

# Static files collected & Media uploads
staticfiles/
media/

# Environment & IDE
.env
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store

# Logs
*.log
local_settings.py
